# Введение в программирование на языке Python
## Семинар 1. Введение в функции в Python
### Познакомимся
<u>Немного обо мне:</u>
- Иоанн;
- веду контактные занятия;
- ML-инженер (Сбер);
- приглашенный преподаватель (НИУ ВШЭ).

<u>А вы кто?</u>
- какой опыт был у вас ранее?
- почему вы решили учиться на этой программе?
- что ожидаете получить от этого курса?

### Правила успешного обучения
- гуглим;
- читаем документацию;
- если что-то непонятно - тут же спрашиваем.

### Формат работы
- в модулях теория, на занятиях - практика.

### Решаем задачи
#### Задача 0 (разминочная)

Напишите функцию, которая принимает на вход коэффициенты квадратного уравнения (действительные числа `a`, `b` и `с`) и выводит кортеж с решением(ями). Комплексными корнями и бесконечным количеством решений пренебречь. Возвращаться должен кортеж.

In [3]:
big_str = '''
a
b
c
'''

In [10]:
def solve(a: float, b: float, c: float) -> tuple[float]:
    """
    a: first coefficient
    ...
    """
    
    D = b ** 2 - 4 * a * c

    if D < 0:
        result = ()  # tuple()
    elif D == 0:
        result = ((-1) * b / (2 * a),)
    else:
        sqrtD = D ** (1 / 2)
        result = (((-1) * b + sqrtD) / (2 * a), ((-1) * b - sqrtD) / (2 * a))

    return result

In [11]:
solve(1, 2, 1)

[]

In [8]:
(1,)

(1,)

In [5]:
?solve

Signature: solve(a: float, b: float, c: float) -> tuple[float]
Docstring:
a: first coefficient
...
File:      c:\users\m050\appdata\local\temp\ipykernel_20944\526186198.py
Type:      function

#### Задача 1
Напишите функцию, которая будет переводить `int` в `str` без использования функции `str()`.

- без форматирования строки;
-

In [23]:
def int1_to_str(number: int) -> str:
    return chr(48 + number)  # chr(ord('0') + number)

def int_to_str(number: int) -> str:
    n_ = abs(number)
    
    result = ''
    
    while n_ > 0:
        num = n_ % 10
        result += int1_to_str(num)  # result = result + int1_to_str(num)
        n_ //= 10
    
    result = result[::-1]  # result = '-' * (number < 0) + result[::-1]
    
    if number < 0:
        result = '-' + result
    
    return result

In [24]:
int_to_str(-323)

'-323'

In [ ]:
n = 815

# 815 % 10 -> 5
# 815 // 10 -> 81

# 81 % 10 -> 1
# 81 // 10 -> 8

# 8 % 10 -> 8
# 8 // 10 -> 0

In [17]:
n = 815
n_ = abs(n)

result = ''

while n_ > 0:
    num = n_ % 10
    result += int1_to_str(num)  # result = result + int1_to_str(num)
    n_ //= 10

result = result[::-1]  # result = '-' * (n < 0) + result[::-1]

if n < 0:
    result = '-' + result

print(result)

518

In [19]:
'-' * 0

''

In [20]:
'-' * False

''

In [16]:
int1_to_str(8)

'8'

In [14]:
ord('0')

48

In [13]:
chr(48 + 6)

'6'

In [ ]:
# наш код здесь

# Немного о Markdown (Заголовок уровня 1)
### Немного о Markdown (Заголовок уровня 3)

просто текст

**жирный текст**

*наклонный текст*

<u>подчеркнутый текст</u>

[текст ссылки](url)

![текст под изображением](url)

#### Задача 2
Мы хотим автоматизировать процесс перекладки текстовых файлов с данными из хранилища в БД (Postgres). Предположим, что таблицы каждый раз разные. Соответственно, перед записью данных необходимо создать таблицу. Это можно сделать примерно так:

```
CREATE TABLE distributors (
    did integer,
    name varchar(40)
);
```

PostgreSQL [располагает](https://www.postgresql.org/docs/current/datatype.html) следующими типами данных (это не все, что есть, но все, что нам сейчас пригодится):

<table>
    <tr>
        <th>Python</th>
        <th>PostgreSQL</th>
    </tr>
    <tr>
        <td>int</td>
        <td>smallint, integer, bigint</td>
    </tr>
    <tr>
        <td>float</td>
        <td>real</td>
    </tr>
    <tr>
        <td>bool</td>
        <td>boolean</td>
    </tr>
    <tr>
        <td>str</td>
        <td>varchar, text</td>
    </tr>
</table>

Реализуйте соответствующую функцию. Она должна иметь следующие аргументы:

- `filename` (строка) - путь к текстовому файлу;
- `sep` (строка, по дефолту для CSV) - разделитель;
- `tablename` (строка, по дефолту соответствует названию файла без расширения, если `None`);
- `varnames` (либо должны быть предоставлены в виде списка, либо добываются из данных если `None`);
- `dtypes` (либо должны быть предоставлены в виде списка, либо добываются из данных если `None`).

Функция должна записывать получившийся скрипт в файл 'create_table.sql' и возвращать путь к этому файлу.

In [29]:
def extract_name(filename: str) -> str:
    dot_position = filename.rfind('.')
    slash_position = filename.rfind('/')

    return filename[(slash_position + 1):dot_position]

def sql_from_file(
    filename: str,
    sep=',',
    tablename=None,
    varnames=None,
    dtypes=None
) -> str:
    with open(filename, 'r') as file:  # file = open('./StudentsPerformance.csv', 'r')
        text = file.read()

    # get filename
    if tablename is None:
        tablename = extract_name(filename)

In [51]:
1 == 1

True

In [44]:
with open('./StudentsPerformance.csv', 'r') as file:  # file = open('./StudentsPerformance.csv', 'r')
    text = file.read()

In [49]:
fn = './StudentsPerformance.csv'

dot_position = fn.rfind('.')
slash_position = fn.rfind('/')

In [50]:
fn[(slash_position + 1):dot_position]

'StudentsPerformance'

In [ ]:
fn

In [48]:
fn.rfind('.')

21