# Программирование на Python
### Познакомимся
<u>Немного обо мне:</u>
- Иоанн;
- веду контактные занятия;
- ML-инженер (Сбер);
- приглашенный преподаватель (НИУ ВШЭ).

<u>А вы кто?</u>
- какой опыт был у вас ранее?
- почему вы решили учиться на этой программе?
- что ожидаете получить от этого курса?

### Правила успешного обучения
- гуглим;
- читаем документацию;
- если что-то непонятно - тут же спрашиваем.

### Формат работы
- в модулях теория, на занятиях - практика.

### Решаем задачи
#### Задача 0 (разминочная)

Напишите функцию, которая принимает на вход коэффициенты квадратного уравнения (действительные числа `a`, `b` и `с`) и выводит кортеж с решением(ями). Комплексными корнями и бесконечным количеством решений пренебречь. Возвращаться должен кортеж.

In [3]:
def solve(a: float, b: float, c: float) -> tuple:
    D = b ** 2 - 4 * a * c

    if D < 0:
        result = ()  # tuple()
    elif D == 0:
        result = ((-1) * b / (2 * a),)
    else:
        Dsqrt = D ** (1 / 2)
        result = (((-1) * b + Dsqrt) / (2 * a), ((-1) * b - Dsqrt) / (2 * a))

    return result

In [10]:
'-' * False

''

In [12]:
'-' * 0

''

In [5]:
lst = [1, 2, 3]

In [6]:
tpl = (1, 2, 3)

In [7]:
tpl[0] = 5

TypeError: 'tuple' object does not support item assignment

In [4]:
solve(1, 2, 1)

(-1.0,)

In [2]:
(1,)

(1,)

#### Задача 1
Напишите функцию, которая будет переводить `int` в `str` без использования функции `str()`.

- без форматирования строки;
-

In [21]:
const = 48  # const = ord('0')

def int1_to_str(number: int) -> str:
    return chr(number + const)

def int_to_str(number: int) -> str:
    a = abs(number)

    if number != 0:
        result = ''
        
        while a != 0:  # a > 0
            num = a % 10
            result += int1_to_str(num)  # result = result + int1_to_str(num)
            a //= 10  # a = a // 10
        
        result = result[::-1]  # result = '-' * (some_int < 0) + result[::-1]
        
        if number < 0:
            result = '-' + result

    else:
        result = int1_to_str(number)  # result = '0'
    
    return result

In [20]:
'123' * (-1)

''

In [ ]:
some_int = 828

# 828 % 10 -> 8
# 828 // 10 -> 82

# 82 % 10 -> 2
# 82 // 10 -> 8

# 8 % 10 -> 8
# 8 // 10 -> 0

In [19]:
some_int = 828
a = abs(some_int)

result = ''

while a != 0:  # a > 0
    num = a % 10
    result += int1_to_str(num)  # result = result + int1_to_str(num)
    a //= 10  # a = a // 10

result = result[::-1]  # result = '-' * (some_int < 0) + result[::-1]

if some_int < 0:
    result = '-' + result

print(result)

828

In [ ]:
__str__
__repr__

In [14]:
chr(48)

'0'

In [15]:
ord('0')

48

In [ ]:
# наш код здесь

#### Задача 2
Мы хотим автоматизировать процесс перекладки текстовых файлов с данными из хранилища в БД (Postgres). Предположим, что таблицы каждый раз разные. Соответственно, перед записью данных необходимо создать таблицу. Это можно сделать примерно так:

```
CREATE TABLE distributors (
    did integer,
    name varchar(40)
);
```

PostgreSQL [располагает](https://www.postgresql.org/docs/current/datatype.html) следующими типами данных (это не все, что есть, но все, что нам сейчас пригодится):

<table>
    <tr>
        <th>Python</th>
        <th>PostgreSQL</th>
    </tr>
    <tr>
        <td>int</td>
        <td>smallint, integer, bigint</td>
    </tr>
    <tr>
        <td>float</td>
        <td>real</td>
    </tr>
    <tr>
        <td>bool</td>
        <td>boolean</td>
    </tr>
    <tr>
        <td>str</td>
        <td>varchar, text</td>
    </tr>
</table>

Реализуйте соответствующую функцию. Она должна иметь следующие аргументы:

- `filename` (строка) - путь к текстовому файлу;
- `sep` (строка, по дефолту для CSV) - разделитель;
- `tablename` (строка, по дефолту соответствует названию файла без расширения, если `None`);
- `varnames` (либо должны быть предоставлены в виде списка, либо добываются из данных если `None`);
- `dtypes` (либо должны быть предоставлены в виде списка, либо добываются из данных если `None`).

Функция должна записывать получившийся скрипт в файл 'create_table.sql' и возвращать путь к этому файлу.

In [22]:
def sql_from_file(
    filename: str,
    sep=',',
    tablename=None,
    varnames=None,
    dtypes=None
) -> str:
    '''
    filename: path to file with data
    sep: ...
    '''
    pass

In [23]:
?sql_from_file

Signature:
sql_from_file(
    filename: str,
    sep=',',
    tablename=None,
    varnames=None,
    dtypes=None,
) -> str
Docstring:
filename: path to file with data
sep: ...
File:      c:\users\m050\appdata\local\temp\ipykernel_14776\1469673427.py
Type:      function