# Введение в программирование на языке Python
## Семинар 1. Введение в функции в Python
### Познакомимся
<u>Немного обо мне:</u>
- Иоанн;
- веду контактные занятия;
- ML-инженер (Сбер);
- приглашенный преподаватель (НИУ ВШЭ).

<u>А вы кто?</u>
- какой опыт был у вас ранее?
- почему вы решили учиться на этой программе?
- что ожидаете получить от этого курса?

### Правила успешного обучения
- гуглим;
- читаем документацию;
- если что-то непонятно - тут же спрашиваем.

### Формат работы
- в модулях теория, на занятиях - практика.

### Решаем задачи
#### Задача 0 (разминочная)

Напишите функцию, которая принимает на вход коэффициенты квадратного уравнения (действительные числа `a`, `b` и `с`) и выводит кортеж с решением(ями). Комплексными корнями и бесконечным количеством решений пренебречь. Возвращаться должен кортеж.

In [25]:
def solve(a: float, b: float, c: float) -> tuple[float]:
    """
    a: float - first coefficient
    """

    # check arguments
    for arg in (a, b, c):
        argtype = type(arg)

        if argtype != float:
            raise ValueError(f'Я же написал float, а ты вставил {argtype}!')
    
    D = b ** 2 - 4 * a * c

    if D < 0:
        result = ((...),)
        result = ()  # tuple()
    elif D == 0:
        result = ((-1) * b / (2 * a),)
    else:
        sqrtD = D ** (1 / 2)
        result = (((-1) * b + sqrtD) / (2 * a), ((-1) * b - sqrtD) / (2 * a))

    return result

In [26]:
?solve

Signature: solve(a: float, b: float, c: float) -> tuple[float]
Docstring: a: float - first coefficient
File:      c:\users\m050\appdata\local\temp\ipykernel_10396\4136890208.py
Type:      function

In [18]:
[0, 7, ...]

[0, 7, Ellipsis]

In [ ]:
type()

In [16]:
()

()

In [17]:
(1,)

1

In [15]:
((...),)

(Ellipsis,)

In [23]:
solve(1, 2, 1)

[]

#### Задача 1
Напишите функцию, которая будет переводить `int` в `str` без использования функции `str()`.

- без форматирования строки;
-

In [29]:
def int1_to_str(number: int) -> str:
    return chr(48 + number)

def int_to_str(number: int) -> str:
    a_ = abs(number)
    
    result = ''
    
    while a_ > 0:
        num = a_ % 10
        result += int1_to_str(num)
        a_ //= 10  # a_ = a_ // 10

    result = result[::-1]  # result = '-' * (number < 0) + result[::-1]

    if number < 0:
        result = '-' + result

    return result

In [43]:
%%timeit

_ = {}

39.8 ns ± 4.32 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [44]:
%%timeit

_ = dict()

79.2 ns ± 2.08 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [39]:
'-' * 0

''

In [42]:
issubclass(bool, int)

True

In [30]:
int1_to_str(6)

'6'

In [31]:
int1_to_str(16)

'@'

In [ ]:
# надо обрабатывать по одному

# 816
# 816 % 10 -> 6
# 816 // 10 -> 81

# 81
# 81 % 10 -> 1
# 81 // 10 -> 8

In [35]:
# a = 816
# a_ = a

# result = ''

# while a_ >= 10:
#     num = a_ % 10
#     result += int1_to_str(num)
#     a_ //= 10  # a_ = a_ // 10
# else:
#     num = a_ % 10
#     result += int1_to_str(num)

In [36]:
a = 816
a_ = a

result = ''

while a_ > 0:
    num = a_ % 10
    result += int1_to_str(num)
    a_ //= 10  # a_ = a_ // 10

In [38]:
result[::-1]

'816'

In [27]:
?chr

Signature: chr(i, /)
Docstring: Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.
Type:      builtin_function_or_method

In [28]:
chr(48)

'0'

#### Задача 2
Мы хотим автоматизировать процесс перекладки текстовых файлов с данными из хранилища в БД (Postgres). Предположим, что таблицы каждый раз разные. Соответственно, перед записью данных необходимо создать таблицу. Это можно сделать примерно так:

```
CREATE TABLE distributors (
    did integer,
    name varchar(40)
);
```

PostgreSQL [располагает](https://www.postgresql.org/docs/current/datatype.html) следующими типами данных (это не все, что есть, но все, что нам сейчас пригодится):

<table>
    <tr>
        <th>Python</th>
        <th>PostgreSQL</th>
    </tr>
    <tr>
        <td>int</td>
        <td>smallint, integer, bigint</td>
    </tr>
    <tr>
        <td>float</td>
        <td>real</td>
    </tr>
    <tr>
        <td>bool</td>
        <td>boolean</td>
    </tr>
    <tr>
        <td>str</td>
        <td>varchar, text</td>
    </tr>
</table>

Реализуйте соответствующую функцию. Она должна иметь следующие аргументы:

- `filename` (строка) - путь к текстовому файлу;
- `sep` (строка, по дефолту для CSV) - разделитель;
- `tablename` (строка, по дефолту соответствует названию файла без расширения);
- `varnames` (либо должны быть предоставлены в виде списка, либо добываются из данных если `None`);
- `dtypes` (либо должны быть предоставлены в виде списка, либо добываются из данных если `None`).

Функция должна записывать получившийся скрипт в файл 'create_table.sql' и возвращать путь к этому файлу.

In [ ]:
# наш код здесь